.produkUserContainer {
  display: flex;
  justify-content: space-between;
  width: 350px;
  /* max-width: 500px; */
  /* min-width: 400px; */
  border: 1px solid var(--main-secondary);
  margin: 7px;
}

.produkUserImg {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.productUserInfo {
  width: 150px;
  padding: 10px;
  /* display: grid;
  place-items: center; */
}

.productUserInfo h2 {
  font-size: 1.2rem;
  margin: auto;
}

.productProfileEllipContain {
  width: 100%;
  margin-left: 80%;
}

.productProfileEllipsis {
  background-color: var(--main-secondary);
  width: 30px;
  height: 20px;
  display: grid;
  place-items: center;
  border-radius: 5px;
}
