.orderContainer {
    margin-top: 7.18rem;
    width: 60%;
}

.orderBox {
        width: 100%;
        border: 1px solid var(--main-secondary);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
}

.orderBox input {
    display: block;
    border-radius: 50rem;
    width: 90%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #bebbbb;
    align-items: center;
    margin-top: 1.87rem;
    margin-left: auto;
    margin-right: auto;
}

.orderTeksKartu {
    margin-top: 2.18rem;
}

.orderInputKartu select {
    margin-top: 1.87rem;
    width: 15vw;
    margin-left: 6%;
    margin-right: auto;
}

.orderKodeCvv {
    width: 15vw !important;
    margin-left: 5.8% !important;
}

.orderTeksExp {
    margin-top: 1.87rem;
    margin-left: 6%;
}

.orderBulanExp, .orderTahunExp {
    display: inline-block !important;
    width: 15vw !important;
    margin-left: 5.8% !important;
    margin-top: auto !important;
}
.orderTeksPembayaran {
    margin-top: 2.18rem;
}

.orderLihatPembayaran p{
    display: inline-block;
    margin-top: 1.87rem;
}

.orderContainer button {
    display: inline-block;
    background-color: #19345e;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.signinAlert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 8vh;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    border-radius: 0.25rem;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;
  }