.historyCard {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-secondary);
}

.historyImg {
  width: 200px;
  min-width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.historyFlexCtrl {
  display: flex;
  width: 85%;
}

.historyDetail {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.historyDetail h2 {
  font-size: 1.3rem;
}

.historyMobile {
  display: none;
}

.cancelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cancelContainer p {
  font-size: 1.3rem;
  font-weight: 600;
}

.cancelContainer i {
  font-size: 2rem;
  color: red;
}

@media (max-width: 1000px) {
  .historyDetail h2 {
    font-size: 1.1rem;
  }

  .cancelContainer p {
    font-size: 1.1rem;
  }

  .cancelContainer i {
    font-size: 1.3rem;
    color: red;
  }
}

@media (max-width: 750px) {
  .historyFlexCtrl {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
  }

  .historyDetail {
    width: 100%;
    padding: 0;
  }

  .historyDetail h2 {
    font-size: 1rem;
  }

  .cancelContainer p {
    font-size: 1rem;
  }

  .cancelContainer i {
    font-size: 1.3rem;
    color: red;
  }

  .cancelContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 550px) {
  .historyCard {
    flex-direction: column;
  }

  .historyMobile {
    display: block;
  }
}
