.cartPageContainer {
  width: 80%;
  padding: 7vh 0;
}

.cartContainer {
  width: 100%;
}

.cartHeaderTable {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}

.cartListContainer {
  border-top: 3px solid var(--main-secondary);
  border-bottom: 3px solid var(--main-secondary);
  padding-bottom: 1.5rem;
}

.cartHeaderTable p {
  margin-bottom: 10px;
}

.headerProduct {
  width: 55%;
}

.headerQuantity {
  width: 10%;
  text-align: center;
}

.headerSubTotal {
  width: 25%;
  text-align: center;
}

.cartProduct {
  width: 55.5%;
  /* min-width: 430px; */
  display: flex;
}

.cartImg {
  height: 200px;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cartProductContainer {
  padding: 20px;
  display: flex;
  -webkit-box-shadow: 0 8px 6px -6px var(--main-secondary);
  -moz-box-shadow: 0 8px 6px -6px var(--main-secondary);
  box-shadow: 0 8px 6px -6px var(--main-secondary);

  /* flex-wrap: wrap; */
}

.cartDescription {
  width: 100%;
  margin: auto 10px;
  min-width: 180px;
}

.cartItemPrice {
  font-weight: 600;
}

.cartRightSide {
  width: 43%;
  display: flex;
  font-weight: 600;
}

.cartQuantity {
  text-align: center;
  /* width: 12%; */
  margin: auto;
}

.quantityButton {
  /* padding: 3px; */
  width: 65px;
  border: 1px solid var(--main-secondary);
  display: flex;
  margin: auto;
}

.itemQuantity {
  width: 25px;
  margin-bottom: 0;
}

.quantityButton i {
  padding: 3px;
  cursor: pointer;
  margin: auto;
}

.quantityButton i:hover {
  box-shadow: 0 0 5px var(--main-secondary);
}

.quantityButton i:first-child {
  border-right: 1px solid var(--main-secondary);
}

.quantityButton i:last-child {
  border-left: 1px solid var(--main-secondary);
}

.cartTotalProduct {
  width: 50%;
  text-align: center;
  margin: auto;
}

.cartRemoveProduct {
  margin: auto;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.cartRemoveProduct i {
  color: red;
  font-size: 2rem;
}

.cartRemoveProduct:hover {
  color: red;
}

.cartRemoveProduct:hover i {
  font-size: 2.2rem;
}

.cartMobile {
  display: none;
}

.cartTotalContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cartTotalBox {
  width: 450px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--main-secondary);
}

.cartTotalBox h2 {
  font-size: 1.3rem;
}

.cartTotalText {
  display: flex;
  justify-content: space-between;
}

.cartBuyButton {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .cartListContainer {
    border-top: 2px solid var(--main-secondary);
    border-bottom: none;
  }

  .cartHeaderTable {
    display: none;
  }

  .cartMobile {
    display: block;
  }

  .cartDescription {
    width: 50%;
  }

  .cartProduct {
    justify-content: center;
  }

  .cartProductContainer {
    flex-direction: column;
    /* border-top: 2px solid var(--main-secondary); */
    border-bottom: 2px solid var(--main-secondary);
  }

  .cartProduct,
  .cartRightSide {
    width: 100%;
  }

  .cartQuantity {
    width: 20%;
  }

  .cartTotalBox {
    width: 350px;
    padding: 15px;
  }

  .cartTotalBox h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 575px) {
  .cartPageContainer {
    width: 95%;
    padding: 7vh 0;
  }

  .cartContainer {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cartProductContainer {
    padding: 5px;
  }

  .cartProduct {
    flex-direction: column;
    align-items: center;
  }

  .quantityButton {
    /* padding: 3px; */
    width: 55px;
  }

  .cartDescription {
    width: 100%;
    text-align: center;
  }
  .cartRightSide {
    font-size: 0.8rem;
  }

  .cartTotalBox {
    width: 100%;
  }

  .cartTotalBox h2 {
    font-size: 0.9rem;
  }
}
