.productCardContainer {
  height: 400px;
  width: 330px;
  box-shadow: 0 0 2px var(--main-secondary);
  margin: 10px;
  cursor: pointer;
}

.productCardContainer:hover {
  transform: scale(1.01);
  box-shadow: 0 0 7px var(--main-secondary);
}

.productCardImg {
  height: 330px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.productInfo {
  padding: 10px;
}

.productInfo h3 {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

@media (max-width: 1000px) {
  .productCardContainer {
    height: 320px;
    width: 250px;
  }

  .productCardImg {
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
