.homeSearch {
  height: 55px;
  width: 100%;
  background-color: var(--main-secondary);
  text-align: center;
}

.searchFormContainer {
  width: 60%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 10px;
}

.searchForm {
  height: 35px;
  width: 90%;
  border: none;
}

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeProductContainer {
  width: 80%;
  padding: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.viewMoreHome {
  width: 200px !important;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .homeProductContainer {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .searchForm {
    width: 80%;
  }
}
