.newFormContainer {
  margin: 20px 0;
  width: 100%;
  border: 1px solid var(--main-secondary);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.newFormContainer form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.newProductForm {
  width: 100%;
  height: 2.2rem;
  margin-top: 2rem;
}

.newProductButton {
  background-color: var(--main-alternative);
  color: var(--main-primary);
  font-size: 1.3rem;
  width: 250px;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .newFormContainer {
    margin: 20px 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .newProductForm {
    width: 100%;
    height: 1.7rem;
    margin-top: 1.3rem;
  }

  .newProductButton {
    width: 150px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
