footer {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-alternative);
  color: var(--main-primary);
}

footer h2,
footer h3 {
  margin: 10px 10vw;
}
.footerButton {
  cursor: pointer;
  font-size: 1.3rem;
}

footer h2 {
  font-size: 1rem;
}
