.longButtonContainer {
  width: 100%;
  display: grid;
  place-items: center;
  height: 50px;
  color: var(--main-primary);
  background-color: var(--main-alternative);
  cursor: pointer;
}

.longButtonContainer p {
  margin: 0 !important;
  font-size: 1.5rem;
}

.longButtonContainer:hover {
  color: var(--main-alternative);
  background-color: var(--main-primary);
  border: 2px solid var(--main-alternative);
  box-shadow: 0 0 15px var(--main-alternative);
}
