.profileDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileAvatar {
  max-width: 250px;
  max-height: 250px;
  width: 40vw;
  height: 40vw;
  min-width: 150px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.profileDescription {
  width: 65%;
  margin-left: 20px;
  min-width: 250px;
  display: grid;
  place-items: center;
}

.profileDescription h2 {
  font-size: 1.3rem;
}

.profileHistoryButton {
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .profileDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profileDescription {
    margin-top: 2rem;
    width: 100%;
    margin-left: 0;
    min-width: 0;
  }

  .profileDescription h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .profileDescription {
    margin-top: 1rem;
  }

  .profileDescription h2 {
    font-size: 1rem;
  }
}
