.profileAvatar {
  margin: auto;
  max-width: 250px;
  max-height: 250px;
  width: 40vw;
  height: 40vw;
  min-width: 150px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.profileDescription {
  width: 65%;
  margin-left: 20px;
  min-width: 250px;
  padding: 2vh;
  border-left: dashed 2px var(--main-secondary);
}

.profileDescription h2 {
  font-size: 1.3rem;
}

.profileHistoryButton {
  margin-top: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Grid area */
.profileAvatar {
  grid-area: item1;
}

.profileDescription {
  grid-area: item2;
}

.profileHistoryButton {
  grid-area: item3;
}

.profileDetail {
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item3 item2";
}

@media (max-width: 1000px) {
  .profileDescription {
    margin-top: 2rem;
    width: 100%;
    margin-left: 0;
    min-width: 0;
  }

  .profileDescription h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .profileDetail {
    display: grid;
    grid-template-areas:
      "item1"
      "item2"
      "item3";
  }

  .profileDescription {
    margin-top: 1rem;
  }

  .profileDescription h2 {
    font-size: 1rem;
  }
}
